<h1>Welcome <%= current_user.email %></h1>

Add a transaction<br />
2 sides:<br />
INCOME<br />
  select date<br />
  add amount<br />
  drop-down select source<br />
<br />
OUTGO<br />
  select date<br />
  enter amount<br />
  enter location<br />
  drop-down/type in category<br />
<br />
on right side: <br />
Create a new budget button --> takes to new page<br />

<%= button_to "Create a new budget", new_budget_path, :method => :get %>
View your budget button  --> takes to new page<br />
