<footer class="footer">
  <small>
    The <a href="#">Budget Tracker</a>
    by <a href="http://www.melissaamaya.com">Melissa Amaya</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      
    </ul>
  </nav>
</footer>
